.header-title {
    font-size: 26px;
    font-weight: bold;
}

.url-form {
    margin: 20px;
}

#websiteInput {
    margin: 15px;
    width: 50%;
}

.website-btn {
    background-color: #1EAADB;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 10px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Inter';
    padding-inline: 15px;
}

.guides-display {
    padding: 10px;
}

.guides-card {
    margin: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

i {
    font-weight: normal;
    font-size: 20px;
}

.error-message {
    color: #dc143c;
    font-size: 16px;
}

.loading-container {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}